@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif; }

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d9e7fb;
  flex-direction: column;
  padding: 10px; }

.title {
  color: #2b296e;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  margin-bottom: 20px;
  -moz-text-decoration-color: #c4ceff;
  text-decoration-color: #c4ceff; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2b296e;
  box-shadow: 20px 20px #c4ceff;
  padding: 40px 10px; }
  .container .container__link .link {
    background: #5950a1;
    display: inline-block;
    margin: 0 7px;
    padding: 9px;
    color: white;
    text-decoration: none;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s; }
  .container .container__link .link__right {
    text-align: center;
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px; }
    .container .container__link .link__right:hover {
      transform: translateX(-10px);
      -webkit-transform: translateX(-10px);
      -moz-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      -o-transform: translateX(-10px); }
  .container .container__link .link__center:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1); }
  .container .container__link .link__left {
    text-align: center;
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0px;
    -moz-border-radius: 0 20px 20px 0px;
    -ms-border-radius: 0 20px 20px 0px;
    -o-border-radius: 0 20px 20px 0px; }
    .container .container__link .link__left:hover {
      transform: translateX(10px);
      -webkit-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -o-transform: translateX(10px); }
  .container .container__list {
    width: 100%;
    display: flex;
    justify-content: space- around;
    margin: 50px 0;
    flex-wrap: wrap;
    gap: 15px; }
    .container .container__list .list {
      width: 200px;
      height: 100px;
      display: flex;
      align-items: center;
      color: #5950a1;
      background: #5950a1;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      transition: 1s;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      position: relative; }
      .container .container__list .list .list__img {
        height: 85%;
        position: absolute;
        opacity: 0.8;
        z-index: 1;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%); }
      .container .container__list .list .img__title {
        position: absolute;
        right: 10px;
        transition: 1s 1s;
        -webkit-transition: 1s 1s;
        -moz-transition: 1s 1s;
        -ms-transition: 1s 1s;
        -o-transition: 1s 1s; }
      .container .container__list .list:hover {
        background: #c4ceff; }
        .container .container__list .list:hover .list__img {
          left: 50px; }
        .container .container__list .list:hover .img__title {
          opacity: 1; }
  .container .container__btn {
    width: 90%;
    background: #ffa500;
    color: white;
    padding: 20px;
    font-size: 1.1em;
    border: none;
    margin: auto;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s; }
    .container .container__btn:hover {
      transform: translate(-15px, -15px);
      -webkit-transform: translate(-15px, -15px);
      -moz-transform: translate(-15px, -15px);
      -ms-transform: translate(-15px, -15px);
      -o-transform: translate(-15px, -15px);
      box-shadow: 15px 15px #5950a1; }

/*# sourceMappingURL=style.css.map */
